<header id="site-header"
    class="lg:shadow-none shadow-lg block relative z-30 sticky  bg-white/[.85] backdrop-blur-md adminLogin adminLogout ">
    <div class="container py-4">
        <!-- navbar -->
        <nav class="desktop-nav flex flex-row items-center justify-between">
            <button class="text-gray-600 px-2 lg:hidden mobile-menu-icon">
                {{> svgs/menu }}
                {{> svgs/back }}
            </button>
            <button class="text-gray-600 px-2 lg:hidden mobile-search-iocn mr-2">
                <span class="block w-6">{{> svgs/search }}</span>
            </button>
            <div class="desktop-nav-logo lg:block hidden ml-8">
                <a href="">
                   
                    <img class="w-40" src="{{webRoot}}/assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="desktop-nav-menu-item flex-grow-0 lg:flex-grow  hidden lg:block">
                <ul id="menu-header" class="flex flex-row xl:gap-8 gap-4">
                    <li id="menu-item-13093"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5446 current_page_item menu-item-13093 ">
                        <a href="https://new.dubaidiscount.ir/" aria-current="page"
                            class="text-gray-600 hover:text-primary font-extralight">خانه</a>
                    </li>

                    <li id="menu-item-13095"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13095 "><a href="#events"
                            class="text-gray-600 hover:text-primary font-extralight">رویداد ها</a>
                    </li>
                    <li id="menu-item-13095"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13095 "><a href="https://wa.me/+989365804805"
                            class="text-gray-600 hover:text-primary font-extralight">تماس در واتس اپ</a></li>

                    <!-- <li id="menu-item-13096"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13096 "><a href="#َaboutUs"
                            class="text-gray-600 hover:text-primary font-extralight">درباره ی ما</a>
                    </li> -->
                </ul>
            </div>
            <div class="desktop-nav-logo flex flex-grow flex-row items-center justify-end lg:hidden">
                <a href="/" >
                    <!-- <img class=" w-18 " src="{{webRoot}}/assets/images/logo-header.png"> -->
                    <img class="w-40" src="{{webRoot}}/assets/images/logo.png">
                </a>
            </div>
            <!-- search-block -->
            <div class="search-block lg:block hidden">
                {{> header/header-search  }}
            </div>
            <!-- /search-block -->
        </nav>
    </div>
</header>
{{> header/mobileNav }}