<div id="comments" class="comments-area">
    <h2 class="comments-title">
            78 thoughts on “<span>اجاره خودرو در دبی</span>” </h2><!-- .comments-title -->

    <ol class="comment-list">
            <li class="review even thread-even depth-1 parent" id="comment-5631">
                    <div id="div-comment-5631" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">شاهین</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-5631">ژانویه
                                            18, 2024 در 9:54 ق.ظ</a>
                            </div>

                            <p>ایا ماشین بنز c63 با راننده دارید؟</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-5631"
                                            data-commentid="5631" data-postid="25246"
                                            data-belowelement="div-comment-5631" data-respondelement="respond"
                                            data-replyto="پاسخ به شاهین" aria-label="پاسخ به شاهین">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment byuser comment-author-simin-kermani odd alt depth-2"
                                    id="comment-5632">
                                    <div id="div-comment-5632" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 2</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-5632">فوریه
                                                            19, 2024 در 9:58 ق.ظ</a>
                                            </div>

                                            <p>سلام وقت بخیر، نه متاسفانه</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-5632" data-commentid="5632"
                                                            data-postid="25246" data-belowelement="div-comment-5632"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 2"
                                                            aria-label="پاسخ به ادمین 2">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review even thread-odd thread-alt depth-1 parent" id="comment-5658">
                    <div id="div-comment-5658" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">سروناز الماسی</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-5658">ژانویه
                                            17, 2024 در 10:48 ق.ظ</a>
                            </div>

                            <p>سلام من کودک سه ساله دارم<br>
                                    اگر با مادر صندلی شاگرد باشند جریمه میشم؟ صندلی کودک هم میدهید؟ هزینه صندلی کودک
                                    اضافه میشود؟</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-5658"
                                            data-commentid="5658" data-postid="25246"
                                            data-belowelement="div-comment-5658" data-respondelement="respond"
                                            data-replyto="پاسخ به سروناز الماسی"
                                            aria-label="پاسخ به سروناز الماسی">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment byuser comment-author-simin-kermani odd alt depth-2"
                                    id="comment-5659">
                                    <div id="div-comment-5659" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 1</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-5659">فوریه
                                                            19, 2024 در 10:49 ق.ظ</a>
                                            </div>

                                            <p>سلام، کودک بالای 3 سال باید روی صندلی خودرو بنشیند و در بغل گرفتن
                                                    ممنوع است. صندلی نوزاد هزینه اضافه خواهد داشت.</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-5659" data-commentid="5659"
                                                            data-postid="25246" data-belowelement="div-comment-5659"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 1"
                                                            aria-label="پاسخ به ادمین 1">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review even thread-even depth-1 parent" id="comment-5654">
                    <div id="div-comment-5654" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">نگار کریمی</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-5654">ژانویه
                                            15, 2024 در 10:44 ق.ظ</a>
                            </div>

                            <p>سلام اجاره ماشین با راننده در دبی چقدره ؟ شرایطش چیه؟</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-5654"
                                            data-commentid="5654" data-postid="25246"
                                            data-belowelement="div-comment-5654" data-respondelement="respond"
                                            data-replyto="پاسخ به نگار کریمی"
                                            aria-label="پاسخ به نگار کریمی">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment byuser comment-author-simin-kermani odd alt depth-2"
                                    id="comment-5655">
                                    <div id="div-comment-5655" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 2</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-5655">فوریه
                                                            19, 2024 در 10:45 ق.ظ</a>
                                            </div>

                                            <p>سلام وقت بخیر، قیمت ها بسته به مدت زمان اجاره و بسته به مسیر حرکت
                                                    متفاوت هست، لطفاً در واتساپ با همکاران ما در ارتباط باشید.</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-5655" data-commentid="5655"
                                                            data-postid="25246" data-belowelement="div-comment-5655"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 2"
                                                            aria-label="پاسخ به ادمین 2">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review even thread-odd thread-alt depth-1 parent" id="comment-5635">
                    <div id="div-comment-5635" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">بابائی</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-5635">ژانویه
                                            14, 2024 در 10:05 ق.ظ</a>
                            </div>

                            <p>سلام و عرض ادب، برای اجاره یک روزه، چند ساعت خودرو دستمون هست؟<br>
                                    شب تا ساعت ۹ خودرو رو باید تحویل بدیم؟</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-5635"
                                            data-commentid="5635" data-postid="25246"
                                            data-belowelement="div-comment-5635" data-respondelement="respond"
                                            data-replyto="پاسخ به بابائی" aria-label="پاسخ به بابائی">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment byuser comment-author-simin-kermani odd alt depth-2"
                                    id="comment-5636">
                                    <div id="div-comment-5636" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 1</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-5636">فوریه
                                                            19, 2024 در 10:05 ق.ظ</a>
                                            </div>

                                            <p>روزانه 24 ساعت محاسبه خواهد شد.</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-5636" data-commentid="5636"
                                                            data-postid="25246" data-belowelement="div-comment-5636"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 1"
                                                            aria-label="پاسخ به ادمین 1">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review even thread-even depth-1 parent" id="comment-3953">
                    <div id="div-comment-3953" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">افضلي</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-3953">دسامبر
                                            31, 2023 در 3:32 ب.ظ</a>
                            </div>

                            <p>سلام خدمت جناب اقتداري و تيم دبي ديسكانت ضمن تشكر براي تمامي زحمت ها و پاسخگويي به
                                    موقع .اگر راهنمايي هاي شما نبود واقعا نميدونم چكار بايد مي كرديم. سايت هاي اجاره
                                    خودرو قيمت هاي نجومي ميگفتن و من در آخر سايت شما را پيدا كردم و تونستم براحتي
                                    خودروي موردنظرم كرايه كنم و خوشحالم كه با يك مجموعه حرفه اي و با وجدان آشنا شدم
                                    سپاسگزارم.</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-3953"
                                            data-commentid="3953" data-postid="25246"
                                            data-belowelement="div-comment-3953" data-respondelement="respond"
                                            data-replyto="پاسخ به افضلي" aria-label="پاسخ به افضلي">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment byuser comment-author-simin-kermani odd alt depth-2"
                                    id="comment-3955">
                                    <div id="div-comment-3955" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمين 2</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-3955">ژانویه
                                                            7, 2024 در 3:55 ب.ظ</a>
                                            </div>

                                            <p>سلام جناب افضلي اميدواريم به شما و خانواده محترم خوش گذشته باشه. از
                                                    اعتمادي كه به دبي ديسكانت داريد متشكريم.</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-3955" data-commentid="3955"
                                                            data-postid="25246" data-belowelement="div-comment-3955"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمين 2"
                                                            aria-label="پاسخ به ادمين 2">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review even thread-odd thread-alt depth-1 parent" id="comment-3415">
                    <div id="div-comment-3415" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">منوچهر</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-3415">دسامبر
                                            27, 2023 در 10:40 ب.ظ</a>
                            </div>

                            <p>سلام امکان تحویل ماشین در فرودگاه هنگام ورود به دبی هست ؟ اگر بله هزینه اش فرقی میکنه
                                    ؟</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-3415"
                                            data-commentid="3415" data-postid="25246"
                                            data-belowelement="div-comment-3415" data-respondelement="respond"
                                            data-replyto="پاسخ به منوچهر" aria-label="پاسخ به منوچهر">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment byuser comment-author-simin-kermani odd alt depth-2"
                                    id="comment-4154">
                                    <div id="div-comment-4154" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 2</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-4154">ژانویه
                                                            12, 2024 در 8:31 ب.ظ</a>
                                            </div>

                                            <p>سلام دوست عزیز بله. با پشتیبانی در واتساپ تماس بگیرید تا شما را
                                                    راهنمایی کنند.</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-4154" data-commentid="4154"
                                                            data-postid="25246" data-belowelement="div-comment-4154"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 2"
                                                            aria-label="پاسخ به ادمین 2">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review even thread-even depth-1 parent" id="comment-896">
                    <div id="div-comment-896" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">alireza.hadadi</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-896">ژانویه
                                            6, 2023 در 10:09 ق.ظ</a>
                            </div>

                            <p>سلام<br>
                                    شما به معنای واقعی تیمی درجه یک هستید. ما بهترین سفرمون رو با بهترین مشاوره شما
                                    تجربه کردیم. قمیت هاتون از همه جا مناسبتر بود. ما همه تفریحاتمون رو از شما تهیه
                                    کردیم و 3 روز هم خودرو اجاره کردیم که خیلی خوب و به صرفه بود. ممنون از جناب آقای
                                    اقتداری و تیم خوبشون</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-896"
                                            data-commentid="896" data-postid="25246"
                                            data-belowelement="div-comment-896" data-respondelement="respond"
                                            data-replyto="پاسخ به alireza.hadadi"
                                            aria-label="پاسخ به alireza.hadadi">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment odd alt depth-2" id="comment-1947">
                                    <div id="div-comment-1947" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 2</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-1947">فوریه
                                                            19, 2023 در 1:40 ب.ظ</a>
                                            </div>

                                            <p>سلام روزتون بخیر. ممنون از نظر مثبتتون و خوشحالیم که میزبانتون بودیم
                                            </p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-1947" data-commentid="1947"
                                                            data-postid="25246" data-belowelement="div-comment-1947"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 2"
                                                            aria-label="پاسخ به ادمین 2">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review even thread-odd thread-alt depth-1 parent" id="comment-649">
                    <div id="div-comment-649" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">kaveh.monjazeb</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-649">سپتامبر
                                            20, 2022 در 11:26 ق.ظ</a>
                            </div>

                            <p>ما برای ۲ هفته دیگه داریم میایم، چه خودرویی دارید؟</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-649"
                                            data-commentid="649" data-postid="25246"
                                            data-belowelement="div-comment-649" data-respondelement="respond"
                                            data-replyto="پاسخ به kaveh.monjazeb"
                                            aria-label="پاسخ به kaveh.monjazeb">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment odd alt depth-2" id="comment-1705">
                                    <div id="div-comment-1705" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 1</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-1705">سپتامبر
                                                            22, 2022 در 2:57 ب.ظ</a>
                                            </div>

                                            <p>سلام، لطفا در واتساپ پیام بدید</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-1705" data-commentid="1705"
                                                            data-postid="25246" data-belowelement="div-comment-1705"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 1"
                                                            aria-label="پاسخ به ادمین 1">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review even thread-even depth-1 parent" id="comment-648">
                    <div id="div-comment-648" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">فرزانه</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-648">آگوست
                                            26, 2022 در 11:26 ق.ظ</a>
                            </div>

                            <p>به نظرم ترانسفر بگیره آدم راحتتره، رانندگی یا قوانین اونجا خیلی سخته</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-648"
                                            data-commentid="648" data-postid="25246"
                                            data-belowelement="div-comment-648" data-respondelement="respond"
                                            data-replyto="پاسخ به فرزانه" aria-label="پاسخ به فرزانه">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment odd alt depth-2" id="comment-1704">
                                    <div id="div-comment-1704" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 2</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-1704">آگوست
                                                            28, 2022 در 3:57 ب.ظ</a>
                                            </div>

                                            <p>سلام، بستگی داره</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-1704" data-commentid="1704"
                                                            data-postid="25246" data-belowelement="div-comment-1704"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 2"
                                                            aria-label="پاسخ به ادمین 2">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review even thread-odd thread-alt depth-1 parent" id="comment-647">
                    <div id="div-comment-647" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">meamandi_majid</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-647">آگوست
                                            6, 2022 در 11:26 ق.ظ</a>
                            </div>

                            <p>ما ۲تا خانواده بودیم خیلی خوب بود، ممنون ازتون</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-647"
                                            data-commentid="647" data-postid="25246"
                                            data-belowelement="div-comment-647" data-respondelement="respond"
                                            data-replyto="پاسخ به meamandi_majid"
                                            aria-label="پاسخ به meamandi_majid">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment odd alt depth-2" id="comment-1703">
                                    <div id="div-comment-1703" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 2</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-1703">آگوست
                                                            8, 2022 در 3:57 ب.ظ</a>
                                            </div>

                                            <p>سلام، خواهش میکنم</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-1703" data-commentid="1703"
                                                            data-postid="25246" data-belowelement="div-comment-1703"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 2"
                                                            aria-label="پاسخ به ادمین 2">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review byuser comment-author-mojdeh-fgh even thread-even depth-1 parent" id="comment-506">
                    <div id="div-comment-506" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">mohamadreza</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-506">مارس
                                            31, 2022 در 12:24 ب.ظ</a>
                            </div>

                            <p>آقا ممنونم ازت عالی بود</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-506"
                                            data-commentid="506" data-postid="25246"
                                            data-belowelement="div-comment-506" data-respondelement="respond"
                                            data-replyto="پاسخ به mohamadreza"
                                            aria-label="پاسخ به mohamadreza">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment odd alt depth-2" id="comment-1562">
                                    <div id="div-comment-1562" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 2</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-1562">آوریل
                                                            4, 2022 در 4:56 ب.ظ</a>
                                            </div>

                                            <p>سلام، خوشحالیم که راضی بودید</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-1562" data-commentid="1562"
                                                            data-postid="25246" data-belowelement="div-comment-1562"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 2"
                                                            aria-label="پاسخ به ادمین 2">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review byuser comment-author-mojdeh-fgh even thread-odd thread-alt depth-1 parent"
                    id="comment-505">
                    <div id="div-comment-505" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">بهزاد</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-505">مارس
                                            26, 2022 در 12:24 ب.ظ</a>
                            </div>

                            <p>خودرو لوکس مثل بنز و بی ام و هم دارید؟</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-505"
                                            data-commentid="505" data-postid="25246"
                                            data-belowelement="div-comment-505" data-respondelement="respond"
                                            data-replyto="پاسخ به بهزاد" aria-label="پاسخ به بهزاد">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment odd alt depth-2" id="comment-1561">
                                    <div id="div-comment-1561" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 2</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-1561">مارس
                                                            27, 2022 در 4:56 ب.ظ</a>
                                            </div>

                                            <p>سلام، بله لطفا در واتساپ پیام بدید</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-1561" data-commentid="1561"
                                                            data-postid="25246" data-belowelement="div-comment-1561"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 2"
                                                            aria-label="پاسخ به ادمین 2">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review byuser comment-author-mojdeh-fgh even thread-even depth-1 parent" id="comment-504">
                    <div id="div-comment-504" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">sima.samie</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-504">مارس
                                            18, 2022 در 12:24 ب.ظ</a>
                            </div>

                            <p>به نظر من اصلا نمی صرفه اجاره خودرو، قیمت بنزین و جریمه هارو که ادم نگاه میکنه، منصرف
                                    میشه. بهترین گزینه استفاده از مترو و اتوبوس و تاکسی اینترنتی هست.</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-504"
                                            data-commentid="504" data-postid="25246"
                                            data-belowelement="div-comment-504" data-respondelement="respond"
                                            data-replyto="پاسخ به sima.samie"
                                            aria-label="پاسخ به sima.samie">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment odd alt depth-2" id="comment-1560">
                                    <div id="div-comment-1560" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 1</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-1560">مارس
                                                            19, 2022 در 3:55 ب.ظ</a>
                                            </div>

                                            <p>سلام، بله اگر بتونید از وسایل نقلیه عمومی استفاده کنید بهتر هست.</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-1560" data-commentid="1560"
                                                            data-postid="25246" data-belowelement="div-comment-1560"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 1"
                                                            aria-label="پاسخ به ادمین 1">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review byuser comment-author-mojdeh-fgh even thread-odd thread-alt depth-1 parent"
                    id="comment-503">
                    <div id="div-comment-503" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">پدرام</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-503">مارس
                                            16, 2022 در 12:23 ب.ظ</a>
                            </div>

                            <p>چرا باید هزینه دپوزیت پرداخت کرد؟</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-503"
                                            data-commentid="503" data-postid="25246"
                                            data-belowelement="div-comment-503" data-respondelement="respond"
                                            data-replyto="پاسخ به پدرام" aria-label="پاسخ به پدرام">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment odd alt depth-2" id="comment-1559">
                                    <div id="div-comment-1559" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 1</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-1559">مارس
                                                            19, 2022 در 3:55 ب.ظ</a>
                                            </div>

                                            <p>سلام، به این دلیل هست که اگر خودرو در زمان اجاره تصادف کرد یا جریمه
                                                    شدید از مبلغ دپوزیت استفاده کرد.</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-1559" data-commentid="1559"
                                                            data-postid="25246" data-belowelement="div-comment-1559"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 1"
                                                            aria-label="پاسخ به ادمین 1">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
            <li class="review byuser comment-author-mojdeh-fgh even thread-even depth-1 parent" id="comment-502">
                    <div id="div-comment-502" class="comment-body">
                            <div class="comment-author vcard">
                                    <cite class="fn">مصطفی</cite> <span class="says">گفت:</span>
                            </div>

                            <div class="comment-meta commentmetadata">
                                    <a
                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-502">مارس
                                            7, 2022 در 12:23 ب.ظ</a>
                            </div>

                            <p>ارزانترین خودرو شما چی هست؟</p>

                            <div class="reply"><a rel="nofollow" class="comment-reply-link" href="#comment-502"
                                            data-commentid="502" data-postid="25246"
                                            data-belowelement="div-comment-502" data-respondelement="respond"
                                            data-replyto="پاسخ به مصطفی" aria-label="پاسخ به مصطفی">پاسخ</a></div>
                    </div>
                    <ol class="children">
                            <li class="comment odd alt depth-2" id="comment-1558">
                                    <div id="div-comment-1558" class="comment-body">
                                            <div class="comment-author vcard">
                                                    <cite class="fn">ادمین 1</cite> <span class="says">گفت:</span>
                                            </div>

                                            <div class="comment-meta commentmetadata">
                                                    <a
                                                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/#comment-1558">مارس
                                                            9, 2022 در 3:54 ب.ظ</a>
                                            </div>

                                            <p>سلام، در حال حاضر هیوندای اکسنت</p>

                                            <div class="reply"><a rel="nofollow" class="comment-reply-link"
                                                            href="#comment-1558" data-commentid="1558"
                                                            data-postid="25246" data-belowelement="div-comment-1558"
                                                            data-respondelement="respond"
                                                            data-replyto="پاسخ به ادمین 1"
                                                            aria-label="پاسخ به ادمین 1">پاسخ</a></div>
                                    </div>
                            </li><!-- #comment-## -->
                    </ol><!-- .children -->
            </li><!-- #comment-## -->
    </ol><!-- .comment-list -->


    <nav class="navigation comments-pagination" aria-label="دیدگاه&zwnj;ها">
            <h2 class="screen-reader-text">راهبری دیدگاه&zwnj;ها</h2>
            <div class="nav-links"><span aria-current="page" class="page-numbers current">1</span>
                    <a class="page-numbers"
                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/comment-page-2/#comments">2</a>
                    <a class="page-numbers"
                            href="https://dubaidiscount.ir/%d8%a7%d8%ac%d8%a7%d8%b1%d9%87-%d8%ae%d9%88%d8%af%d8%b1%d9%88-%d8%af%d8%b1-%d8%af%d8%a8%db%8c/comment-page-3/#comments">3</a>

            </div>
    </nav>
</div>