<!-- <h3 class="text-2xl font-bold text-blue mb-4">ثبت نظر</h3>
<h5 class="text-lg font-semibold text-gray-600">نظر خود را بنونیسید</h5>
<p class="text-sm  text-gray-400">نشانی ایمیل شما منتشر نخواهد شد</p> -->
<!--  -->
<div id="comments-block">
    <div id="respond" class="comment-respond">
        <h3 id="reply-title" class="comment-reply-title">دیدگاهتان را بنویسید <small><a rel="nofollow"
                    id="cancel-comment-reply-link"
                    href="/%d9%be%d8%a7%d8%b1%da%a9-%d8%a2%d8%a8%db%8c-%d9%84%da%af%d9%88%d9%84%d9%86%d8%af-%d8%af%d8%a8%db%8c-%d9%85%d8%b9%d8%b1%d9%81%db%8c-%d8%a8%d8%a7%d8%b2%db%8c-%d9%87%d8%a7-%d9%88-%d8%ae%d8%b1%db%8c/#respond"
                    style="display:none;">لغو پاسخ</a></small></h3>
        <form action="https://new.dubaidiscount.ir/wp-comments-post.php" method="post" id="commentform"
            class="comment-form">
            <p class="comment-notes"><span id="email-notes">نشانی ایمیل شما منتشر نخواهد
                    شد.</span> <span class="required-field-message">بخش&zwnj;های
                    موردنیاز علامت&zwnj;گذاری شده&zwnj;اند <span class="required">*</span></span></p>
            <p class="comment-form-comment"><label for="comment">دیدگاه <span class="required">*</span></label>
                <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525"
                    required="required"></textarea></p>
            <p class="comment-form-author"><label for="author">نام <span class="required">*</span></label> <input
                    id="author" name="author" type="text" value="" size="30" maxlength="245" autocomplete="name"
                    required="required"></p>
            <p class="comment-form-email"><label for="email">ایمیل <span class="required">*</span></label> <input
                    id="email" name="email" type="text" value="" size="30" maxlength="100"
                    aria-describedby="email-notes" autocomplete="email" required="required"></p>
            <p class="comment-form-url"><label for="url">وب&zwnj; سایت</label> <input id="url" name="url" type="text"
                    value="" size="30" maxlength="200" autocomplete="url"></p>
            <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent"
                    name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label
                    for="wp-comment-cookies-consent">ذخیره نام، ایمیل و وبسایت من در
                    مرورگر برای زمانی که دوباره دیدگاهی می&zwnj;نویسم.</label></p>
            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="فرستادن دیدگاه">
                <input type="hidden" name="comment_post_ID" value="13442" id="comment_post_ID">
                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
            </p>
        </form>
    </div><!-- #respond -->
</div>