<section id="filter-checkbox" class="mb-6 border border-gray-200 rounded-xl"">
    <div class=" bg-white p-4 rounded-xl">
    <!-- section -->
    <h4 class="text-2xl font-semibold mb-2  text-primary"> برترین مقالات</h4>
    <div class=" divide-y divide-solid divide-gray-300">
        {{> cards/blog-item-mostView img="https://picsum.photos/id/94/100/100"  }}
        {{> cards/blog-item-mostView img="https://picsum.photos/id/93/100/100"  }}
        {{> cards/blog-item-mostView img="https://picsum.photos/id/95/100/100"  }}
        {{> cards/blog-item-mostView img="https://picsum.photos/id/92/100/100"  }}
        
    </div>
    </div>
</section>