
    <div class="blog-pagination mt-4 py-4">
        <span aria-current="page" class="page-numbers current">۱</span>
        <a class="page-numbers" href="https://new.dubaidiscount.ir/category/dubai-tourist-attractions/page/2/">۲</a>
        <a class="page-numbers" href="https://new.dubaidiscount.ir/category/dubai-tourist-attractions/page/3/">۳</a>
        <span class="page-numbers dots">…</span>
        <a class="page-numbers" href="https://new.dubaidiscount.ir/category/dubai-tourist-attractions/page/14/">۱۴</a>
        <a class="next page-numbers" href="https://new.dubaidiscount.ir/category/dubai-tourist-attractions/page/2/">بعدی »</a>
    </div>
