<article class="group flex items-start py-3 cursor-pointer">
    <a href="/blog.html" class="flex-none h-18 w-18">
        <img src="{{ img }}" alt="" class="h-16 aspect-[3/2] w-22 rounded-lg">
    </a>
    <div class="mr-4 flex-auto">
        <h2 class="font-medium text-sm text-blue group-hover:text-primary">
            <a href="/blog.html" class="line-clamp-2">
                لورم
                ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                استفاده
            </a>
            </h2>
        <span class="text-xs text-gray-600"> 28 خرداد 1400</span>
    </div>
</article>