<!-- author -->
<section id="filter-checkbox" class="lg:my-6">
    <div class=" bg-white border border-gray-200 px-4 py-2 rounded-xl">
        <div class="group flex items-center py-3 cursor-pointer">
            <a href="#" class="flex-none h-16 w-16">
                <img src="{{webRoot}}/assets/images/singer/Homayoun.jpg"
                    alt="" class="h-16 w-16 shadow-lg rounded-full object-cover object-center"></a>
            <div class="mr-4 flex-auto">
                <h5 class="font-medium text-sm text-blue group-hover:text-blue-500">
                    <a href="#" class="line-clamp-2">
                        همایون شجریان 
                    </a>
                </h5>
                <span class="text-xs text-gray-600"> خواننده </span>
            </div>
        </div>
    </div>
</section>
<!--end author -->