<div class="variation flex flex-row justify-between items-center mx-2 py-2">
    <div class="info ">
        <div class="title text-sm text-gray-500">ردیف وسط</div>
        <div class="price text-xs font-semibold text-green-600">3.900.000 تومان</div>
    </div>
    <!-- تماس در واتس اپ -->
    <a class="call-whats-app bg-whatsapp text-white font-semibold text-sm  px-3 py-[5px] rounded shadow hover:bg-whatsapp/90 flex flex-row gap-x-2 items-center"
        href="#whatsappNumber">
        <span class="w-5 fill-white">{{> svgs/whatsapp }}</span>
        سفارش در واتس آپ
    </a>
    <button class="call-whats-app bg-gray-400 text-white font-semibold text-sm px-3 py-2 rounded shadow hover:bg-whatsapp/90  hidden">
        ناموجود
    </button>
    <!-- ناموجود -->
    <!-- <button class="call-whats-app bg-gray-300 text-gray-800 text-xs px-3 py-2 rounded shadow cursor-not-allowed" disabled> ناموجود </button> -->
    <!-- <div class="add-to-card-btns">
        <button class="minus-btn">{{> svgs/minus }}</button>
        <input type="tel" readonly value="0">
        <button class="add-btn">{{> svgs/add  }}</button>
    </div> -->
</div>