<div class="variation flex flex-row justify-between items-center mx-2 py-2">
    <div class="info ">
        <div class="title text-sm text-gray-500">ردیف وسط</div>
        <div class="price text-xs font-semibold text-green-600">3.900.000 تومان</div>
    </div>
    <a class="call-whats-app bg-primary text-white text-xs px-3 py-2 rounded shadow hover:bg-primary-600" href="#whatsappNumber">سفارش در واتس اپ</a>

    <!-- <div class="add-to-card-btns">
        <button class="minus-btn">{{> svgs/minus }}</button>
        <input type="tel" readonly value="0">
        <button class="add-btn">{{> svgs/add  }}</button>
    </div> -->
</div>