<div class="ticket-list bg-white border border-gray-200 rounded-xl ">
    <header class="flex flex-row gap-x-2 items-center justify-between">
        <h2 class="text-primary text-xl font-semibold relative pr-4 after:content-[''] after:top-1 after:h-6 after:w-1 after:absolute after:-right-0 after:bg-primary">بلیط ها</h2>
        <div class="time flex flex-row gap-x-2 items-center justify-start mx-2">
            <div class="text-xs text-gray-500 text-left">
                <p> 28 خرداد 1403 </p>
                <p class="font-sans " dir="ltr"> 28  june 2024    </p>
            </div>
            <div class="text-white bg-secondary-600 p-2 rounded-lg my-2">{{> svgs/calender  }}</div>
        </div>
    </header>
    <hr>
    <div class="body ">
        <!-- <h2 class="mx-2 text-primary font-semibold border-b border-gray-200 py-2"> بلیط ها</h2> -->
        <div class="list divide-y divide-gray-200">
            {{> cards/variable  }}
            {{> cards/variable  }}
            {{> cards/variable  }}
            {{> cards/variable  }}
            {{> cards/variable  }}
        </div>
    </div>
</div>