<div class="pagination py-4h  ">
    <nav class="isolate inline-flex -space-x-px rounded-md " aria-label="Pagination">
        <nav class="woocommerce-pagination">
            <ul class="page-numbers">
                <li><span aria-current="page" class="page-numbers current">۱</span></li>
                <li><a class="page-numbers"
                        href="https://new.dubaidiscount.ir/product-category/uncategorized/page/2/">۲</a>
                </li>
                <li><a class="page-numbers"
                        href="https://new.dubaidiscount.ir/product-category/uncategorized/page/3/">۳</a>
                </li>
                <li><a class="page-numbers"
                        href="https://new.dubaidiscount.ir/product-category/uncategorized/page/4/">۴</a>
                </li>
                <li><a class="page-numbers"
                        href="https://new.dubaidiscount.ir/product-category/uncategorized/page/5/">۵</a>
                </li>
                <li><a class="next page-numbers"
                        href="https://new.dubaidiscount.ir/product-category/uncategorized/page/2/">←</a>
                </li>
            </ul>
        </nav>
    </nav>