<div class="product-box mb-6" id="productlaw">
    <h2 class="product-box-title "> شرایط و قوانین روداد </h2>
    <div class="html-content">
        <ul>
            <li>برای ورود به سالن، تمام شرکت&zwnj;کنندگان نیازمند بلیط معتبر هستند.</li>
            <li>بلیط&zwnj;های الکترونیکی، 7 روز قبل از کنسرت ارسال خواهند شد.</li>
            <li>هیچ دوربین حرفه ای یا فیلم برداری مجاز نیست.</li>
            <li>ورود کالسکه و کیف های بزرگ در داخل سالن نمایش ممنوع است و هیچ گونه کمدی در دسترس نمی باشد.</li>
            <li>بلیط فقط برای تاریخ، زمان و رویداد مشخصی که نشان داده شده معتبر است.</li>
            <li>صندلی های اختصاص داده شده در زمان رزرو غیر قابل تعویض و غیر قابل استرداد می باشند.</li>
            <li>همراه داشتن خوراکی و نوشیدنی از بیرون به داخل سالن کنسرت ممنوع است.</li>
            <li>ساعت 19:30 درب های سالن باز می شود و ساعت 24:00 کنسرت خاتمه می یابد.</li>
        </ul>
    </div>
</div>