@layer components {
    .event-card{
            @apply mb-4 ;
        .event-img{
            @apply block  shadow-2xl mb-2 rounded-xl ;
            figure{
                @apply relative  block overflow-hidden rounded-xl;
                img{
                    @apply md:h-[480px] h-[520px] object-cover object-center w-full rounded-xl ;
                    transition: 1s cubic-bezier(.26,.51,.46,.7) all; 
                }
                &::before {
                    position: absolute;
                    top: 0;
                    left: -85%;
                    z-index: 2;
                    display: block;
                    content: '';
                    width: 50%;
                    height: 100%;
                    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
                    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.2) 100%);
                    -webkit-transform: skewX(-25deg);
                    transform: skewX(-25deg);
                }
                &:hover::before {
                    -webkit-animation: shine 1s ease alternate .2s;
                    animation: shine 1s ease alternate .2s;
                }
                &:hover{
                    img{
                        @apply scale-105;
                        
                    }
                }
            }
           
            @-webkit-keyframes shine {
                to {
                    left: 125%;
                }
            }
            @keyframes shine {
                to {
                    left: 125%;
                }
            }
        }
        .info{
            .event-name{
                 @apply  text-secondary-950 font-semibold md:text-lg text-xl ;
            }
            .event-date{
                 @apply text-xs text-gray-400 mt-1 ;
            }
        }
        
    }
}